:root {
    --dark: #222;
    --gray: #999;
    --font: #555;
    --border: #ccc;
	--border-hover: #666;
	--highlight: #FF0055;
}

body {
    background-color: white;
    color: var(--font);
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
    color: var(--font);
}

a:hover {
    color: var(--dark);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}